.button {

  padding: 1rem 3rem;
  text-decoration: none;
  margin-right: 1.2rem;
  font-size: 1.4rem;
  font-weight: 400;

  &.primary {

    background-color: $button-primary;
    color: $text-secondary;
    border: 0.1rem solid transparent;

    &:hover {

      background-color: $text-secondary;
      color: $background-primary;
      border: 0.1rem solid $background-primary;

    }

  }

  &.secondary {

    background-color: $text-secondary;
    color: $background-primary;
    border: 0.1rem solid $background-primary;

  }

  &.tertiary {


  }

}