.socialbar {
  display: flex;
  margin-bottom: 2rem;
  flex-direction: row;
  margin-right: 2rem;

  img {
    width: 4rem;
    height: 4rem;
  }

  &__text {
    font-weight: 300;
    font-style: italic;
    font-size: 2rem;
    margin-left: 1rem;
    display: flex;

    a::after {
      bottom: 1rem;
    }
  }
}