.Header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 10rem;


  .logo {
    height: 100%;
    margin-right: 4rem;
    
    img {
      height: 8rem;
      margin: 1rem;
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    height: 100%;

    span {
      align-self: center;
      color: $text-tertiary;
      font-weight: 100;
      font-size: 1.8rem;
      padding: 0 2rem;
    }
  }
}