.HeadBanner {

  height: 100vh;

  .inner {

    height: 100vh;
    display: flex;
    align-items: center;

  }

  .holder {

    @media screen and (min-width: 1200px) {

      h1 {

        animation: leftToRight 600ms forwards;

      }

      p {

        animation: 600ms appear 600ms forwards;
        opacity: 0;

      }

      .button {

        animation: 600ms appear 1200ms forwards;
        opacity: 0;

      }

    }

  }

  .img-holder {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    img {

      width: 50rem;

    }

    @media screen and (min-width: 1200px) {

      animation: 600ms appear 1800ms forwards;
      opacity: 0;

    }

  }

  @media screen and (max-width: 375px) {

    height: auto;

    .inner {

      height: auto;

    }

    .holder {

      padding-top: 6rem;

    }

    .img-holder {

      padding: 4rem 0;

      img {

        width: 20rem;

      }

    }

  }

  @media screen and (max-width: 414px) {

    height: auto;

    .inner {

      height: auto;

    }

    .holder {

      padding-top: 6rem;

    }

    .img-holder {

      padding: 4rem 0;

      img {

        width: 20rem;

      }

    }

  }

}