.Header {
  $self: &;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 10rem;
  background-color: white;
  z-index: 100;
  transition: box-shadow .2s;

  &__hamburger {
    height: 6rem;
    width: 6rem;
    padding: 2rem;
    cursor: pointer;

    span {
      display: block;
      height: .8rem;
      width: 6rem;
      background: $background-primary;
      border-radius: 1rem;
      position: absolute;
      right: 2rem;
      transition: transform .2s, opacity .2s, top .2s;

      &:nth-child(1) {
        top: 3rem;
      }
      &:nth-child(2) {
        top: 4.5rem;
      }
      &:nth-child(3) {
        top: 6rem;
      }
    }
  }

  &__logo {
    height: 100%;
    margin-right: 4rem;
    
    img {
      height: 8rem;
      margin: 1rem;
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    height: 100%;

    span {
      align-self: center;
      color: $text-tertiary;
      font-weight: 100;
      font-size: 1.8rem;
      padding: 0 2rem;
    }
  }

  &__social {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    position: absolute;
    right: 1rem;

    .socialimage   {
      height: 4rem;
      align-self: center;
      padding: 0 1rem;

      img {
        height: 4rem;
        transition: transform .2s;
      }

      &:hover {
        cursor: pointer;

        img {
          transform: scale(1.1);
        }
      }
    }

    &--mobile {
      height: auto;


    }
  }

  &--scrolled {
    box-shadow: 0 -.4rem 2.4rem 0 rgba(0,0,0,0.75);
  }

  &--opened {
    #{ $self }__hamburger {
      span {
        &:nth-child(1) {
          transform: rotate(45deg);
          top: 4.5rem;
        }
        &:nth-child(2) {
          top: 4.5rem;
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
          top: 4.5rem;
        }
      }
    }
    #{ $self }__menu {
      height: calc(100% - 10rem);
    }
  }

  &__menu {
    position: fixed;
    top: 10rem;
    left: 0;
    right: 0;
    height: 0;
    background-color: white;
    overflow: hidden;
    transition: height .3s ease-out;
    display: flex;
    justify-content: center;

    .menu__inner {
      width: 80%;
      display: flex;
      min-width: 10rem;
      flex-direction: column;
      text-align: center;
      height: 35rem;
      align-self: center;
      margin-bottom: 10rem;

      span {
        display: block;
        font-size: 2.4rem;
        margin: 2rem 0;
      }
    }
  }
}