.OurTeam {

  padding: 8rem 0;
  background-color: $background-primary;
  text-align: center;

  h2,
  p {

    color: $text-secondary;
    visibility: hidden;
    opacity: 0;

  }

  .video-holder {

    margin-top: 4rem;

  }

  iframe {

    width: 600px;
    height: 360px;
    visibility: hidden;
    opacity: 0;

  }

  @media screen and (max-width: 320px) {

    iframe {

      width: 200px;
      height: 100px;

    }

  }

  @media screen and (max-width: 375px) {

    iframe {

      width: 280px;
      height: 200px;

    }

  }

  @media screen and (max-width: 414px) {

    iframe {

      width: 280px;
      height: 200px;

    }

  }

  &.show {

    h2 {

      animation: 600ms leftToRight forwards;
      opacity: 1;

    }

    p {

      animation: 600ms appear 600ms forwards;
      opacity: 1;

    }

    iframe {

      animation: 600ms appear 1200ms forwards;
      opacity: 1;

    }

  }

}