.OurTeam {

  padding: 8rem 0;
  background-color: $background-primary;
  text-align: center;

  h2,
  h3,
  p {

    color: $text-secondary

  }

  .video-holder {

    margin-top: 4rem;

  }

  iframe {

    width: 600px;
    height: 360px;

  }

  @media screen and (max-width: 375px) {

    iframe {

      width: 280px;
      height: 200px;

    }

  }

  @media screen and (max-width: 414px) {

    iframe {

      width: 280px;
      height: 200px;

    }

  }

  @media screen and (max-width: 320px) {

    iframe {

      width: 200px;
      height: 100px;

    }

  }

}