.OurTeam {

  padding: 8rem 0;
  background-image: url("../../assets/ourteam2.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;


  .button-holder {

    a {

      text-decoration: none;

    }

    .button {

      width: auto;
      opacity: 0;
      visibility: hidden;
      text-decoration: none;

    }

  }

  h2,
  p {

    color: $text-secondary;
    visibility: hidden;
    text-shadow: 1px 1px $text-primary;
    opacity: 0;

  }

  .video-holder {

    margin-top: 4rem;

  }

  &.show {

    h2 {

      animation: 600ms leftToRight forwards;
      opacity: 1;

    }

    p {

      animation: 600ms appear 600ms forwards;
      opacity: 1;

    }

    .button {

      animation: 600ms appear 1200ms forwards;
      opacity: 1;

    }

  }

}