.WorkingOn {

  text-align: center;
  background-color: $background-secondary;
  padding: 8rem 0;

  ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 1.2rem;

    li {

      display: inline;
      padding: 0 1rem;

      a {

        text-decoration: none;

      }

    }

  }

  .icon-holder {

    img {

      width: 3rem;
      transition: transform .2s;

      &:hover {

        transform: scale(1.1);

      }

    }

  }

  h2,
  p,
  .subtitle,
  video,
  .button{

    opacity: 0;
    visibility: hidden;

  }

  &.show {

    h2 {

      animation: 600ms leftToRight forwards;
      opacity: 1;

    }

    p {

      animation: 600ms appear 600ms forwards;
      opacity: 1;

    }

    video {

      animation: 600ms appear 1200ms forwards;
      opacity: 1;

    }

    .subtitle {

      animation: 600ms leftToRight 1800ms forwards;
      opacity: 1;

    }

    .button {

      animation: 600ms appear 2400ms forwards;
      opacity: 1;

    }

  }

  video {

    width: 60rem;
    padding-bottom: 2rem;

  }

  .steam-link {

    text-decoration: none;

  }

  .button {

    margin-top: 20rem;

  }

  @media screen and (max-width: 375px) {

    video {

      width: 18rem;

    }

  }

  @media screen and (max-width: 414px) {

    video {

      width: 24rem;

    }

  }

}