.WorkingOn {

  text-align: center;
  background-color: $background-secondary;
  padding: 10rem 0;

  ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 1.2rem;

    li {

      display: inline;
      padding: 0 1rem;

      a {

        text-decoration: none;

      }

    }

  }

  .icon-holder {

    img {

      width: 3rem;

    }

  }

}